<div [ngClass]="{'header-hide': isHeaderVisible}"> 
  <app-nav-bar-comp></app-nav-bar-comp>
</div>

<!-- <div  >    -->

  <router-outlet></router-outlet>
  <section id="home" class="MainBody">
    <div [ngClass]="{'centered-div': isMobile}">
        <app-home-component></app-home-component>
    </div>
  </section>
  <!-- <section id="login" class="section-even">
    <div [ngClass]="{'centered-div': isMobile}">
        <app-login-component></app-login-component>
    </div>-->
    <!-- </section>  This is supposed to have router outlet -->
  <!-- </div> -->

  <!-- <div  >  -->
    <section id="blogs" class="section-even">
      <div [ngClass]="{'centered-div': isMobile}">   
          <app-blog-component></app-blog-component>    
      </div>   
    </section>
  <!-- </div> -->
 
  <!-- <div  >  -->
    <section id="skills" class="MainBody">
      <div [ngClass]="{'centered-div': isMobile}">  
          <app-skill-component></app-skill-component>   
      </div>    
    </section>
 <!-- </div> -->

 <!-- <div  >  -->
  <section id="experience" class="section-even">
    <div [ngClass]="{'centered-div': isMobile}">
      <app-experience-component></app-experience-component>   
    </div>
  </section>
<!-- </div> -->

<!-- <div  >  -->
  <section id="recognition" class="MainBody">
    <div [ngClass]="{'centered-div': isMobile}">
      <app-recognition-component></app-recognition-component>
    </div>
  </section> 
<!-- </div> -->
  

<app-footer-comp></app-footer-comp>