.MainBody{
  background-color: hsl(96, 20%, 47%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-div-desktop {
  display: flex; 
  align-items: center;
}
