.centered-div {
    position: absolute;
    padding-top: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .logo{
    padding: 20px; 
    width: 100px;
    height: 100px; 
    /* object-fit: cover;  */
  }