<h3 style="text-align: center;">Worked across various domains with</h3>
<div class="centered-div container">
    <div class="row">
        <div class="col-md-3">
            <img style="height: 100px; width: 200px;" class=".logo" src="../../assets/Images/Accenture-removebg-preview.jpg" alt="Accenture">
        </div>
        <div class="col-md-3">
            <img style="height: 100px; width: 200px;" class=".logo" src="../../assets/Images/TCS_Logo-removebg-preview.png" alt="TCS">
        </div>
        <div class="col-md-3">
            <img style="height: 100px; width: 200px;" class=".logo" src="../../assets/Images/logotejcontrol-removebg-preview.png" alt="TEJ">
        </div>
        <div class="col-md-3">
            <img style="height: 100px; width: 200px;" class=".logo" src="../../assets/Images/Jio_Logo-removebg-preview.png" alt="Jio">
        </div>
    </div>
</div>