<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-12 p-2">
            <!-- First ad column -->
            <!-- Place your first ad content here -->
        </div> 
        <div class="col-lg-5 col-md-6 p-2">
             <!-- Description column -->
                <h1 style="color: azure; text-shadow: slategray; font-style: italic;">{{ name }}</h1>
                <h3>{{ description }}</h3>
        </div>
        <div class="col-lg-3 col-md-6 p-2">
            <!-- Image with circular shape -->
            <img class="circular-img" [src]="profilePic" alt="GIF Icon">
        </div>
        <div class="col-lg-2 col-md-12 p-2">
            <!-- Second ad column -->
            <!-- Place your second ad content here -->
        </div>
    </div>
</div>